{% extends "common/list.html" %}
{% block title %}Orders{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/ecmanager/CreateOrder/'>create order</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
<<<<<<< HEAD
  <td>index</td>
  <td>provider</td>
  <td>product title</td>
=======
  <td>provider</td>
>>>>>>> 2ba31dae80d75842ef678a3185a551450c41e2ac
  <td>retailPriceprice($)</td>
  <td>productPrice($)</td>
  <td>orderPrice($)</td>
  <td>shippingCostInChina </td>
  <td>shippingCostToIndonesia </td>
<<<<<<< HEAD
  <td>trackingNumberInChina </td>
  <td>trackingNumberToIndonesia </td>
=======
  <td>trackingNumber </td>
>>>>>>> 2ba31dae80d75842ef678a3185a551450c41e2ac
  <td>orderingDate </td>
  <td>receivingDate </td>
  <td>orderMaker </td>
  <td>receiver </td>
  <td>orderQuantity </td>
  <td>status</td>
<<<<<<< HEAD
  <td>comment</td>
=======
>>>>>>> 2ba31dae80d75842ef678a3185a551450c41e2ac
  <td>update</td>
  <td>delete</td>
{% endblock %}

{% block fieldContent %}
<<<<<<< HEAD
  {% for order in orders %}
  <tr>
    <td>{{order.id}}</td>
    <td><a href='{{order.provider.product.url}}'>{{order.provider}}</a></td>
    <td>{{order.provider.product.title}}</td>
    <td>{{order.provider.product.retailPrice}}</td>
    <td>{{order.provider.productPrice}}</td>
    <td>{{order.orderPrice}}</td>
    <td>{{order.shippingCostInChina }}</td>
    <td>{{order.shippingCostToIndonesia }}</td>
    <td>{{order.trackingNumberInChina }}</td>
    <td>{{order.trackingNumberToIndonesia }}</td>
    <td>{{order.orderingDate }}</td>
    <td>{{order.receivingDate }}</td>
    <td>{{order.orderMaker }}</td>
    <td>{{order.receiver }}</td>
    <td>{{order.orderQuantity }}</td>
    <td>{{order.status}}</td>
    <td>{{order.comment}}</td>
    <td> <a href='/ecmanager/UpdateOrder/{{order.id}}/'>Update</a> </td>
    <td> <a href='/ecmanager/DeleteOrder/{{order.id}}/'>Delete</a> </td>
  </tr>
  {% endfor %}
=======
    {% for order in orders %}
    <tr>
      <td>{{order.provider}}</td>
      <td>{{order.provider.product.retailPrice}}</td>
      <td>{{order.provider.productPrice}}</td>
      <td>{{order.orderPrice}}</td>
      <td>{{order.shippingCostInChina }}</td>
      <td>{{order.shippingCostToIndonesia }}</td>
      <td>{{order.trackingNumber }}</td>
      <td>{{order.orderingDate }}</td>
      <td>{{order.receivingDate }}</td>
      <td>{{order.orderMaker }}</td>
      <td>{{order.receiver }}</td>
      <td>{{order.orderQuantity }}</td>
      <td>{{order.status}}</td>
      <td> <a href='/ecmanager/UpdateOrder/{{order.id}}/'>Update</a> </td>
      <td> <a href='/ecmanager/DeleteOrder/{{order.id}}/'>Delete</a> </td>
    </tr>
    {% endfor %}
>>>>>>> 2ba31dae80d75842ef678a3185a551450c41e2ac
{% endblock %}

