{% extends "common/base.html" %}
{% load i18n affiliate_extras %}

{% block title %}Products{% endblock title %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <a href="{% url 'products:create' %}" class="btn btn-primary">Create Product</a>
        </div>
        <div class="clearfix">&nbsp;</div>
    {% endif %}
    <div class="row x-overflow-auto">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Affiliate link (copy to your code)</th>
                    <th>Visitor status</th>
                    {% if request.user.is_staff %}
                        <th>ID</th>
                        <th>internalId</th>
                        <th>retailPrice($)</th>
                        <th>Stocks</th>
                        <th>Update</th>
                        <th>Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href='{{ product.url}}'>{{ product.url }}</a></td>

                        {# [tag with multiple arguments](http://stackoverflow.com/questions/420703/how-do-i-add-multiple-arguments-to-my-custom-template-filter-in-a-django-templat) #}
                        <td>
                            <textarea rows="10" cols="60">
                            &lt;a href='{{ request.META.HTTP_HOST }}/products/VisitProduct/{{ request.user.id|GetAid:product.id }}/'&gt; {{ request.META.HTTP_HOST }}/products/VisitProduct/{{ request.user.id|GetAid:product.id }}/ &lt;/a&gt;
                            </textarea>
                        </td>
                        <td>
                            <a href="{% url 'products:visitor-status' product.id %}">List visitor status</a>
                        </td>
                        {% if request.user.is_staff %}
                            <td>{{ product.id }}</td>
                            <td>{{ product.internalId }}</td>
                            <td>{{ product.retailPrice }} {{ default_currency }}</td>
                            <td>{{ product.stock }}</td>
                            <td><a href="{% url 'products:update' product.id %}">Update</a> </td>
                            <td><a href="{% url 'products:delete' product.id %}">Delete</a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
