{% extends "common/base.html" %}
{% load i18n %}

{% block content %}
    {% for product in products %}
        {% if product.metrics.exists %}
            <table class="table table-bordered">
                <caption><strong>{{ product.title }}</strong></caption>
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Price</th>
                        <th>Page Views</th>
                        <th>Likes</th>
                        <th>Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metric in product.metrics.all %}
                        <tr>
                            <td>{{ metric.timestamp }}</td>
                            <td>{{ metric.price }}</td>
                            <td>{{ metric.pageviews }}</td>
                            <td>{{ metric.likes }}</td>
                            <td>{{ metric.sales }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">&nbsp;</div>
        {% endif %}
    {% endfor %}
{% endblock content %}
