{% extends "common/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<form class="signup" id="signup_form" method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="hidden" name="next" value="{% url 'products:ListProducts' %}" />
  <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock content %}
