{% extends "common/list.html" %}
{% block title %}Providers{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/ecmanager/CreateProvider/'>create provider</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
	<td >Provider url</td>
	<td >Product internalId</td>
	<td >Product url</td>
	<td >Price($)</td>
	<td >retailPrice($)</td>
	<td >Product title</td>
  <td >moq</td>
  <td >serviceQualityScore</td>
  <td >serviceQualityReview</td>
  <td >canShipToChina</td>
  <td >moqForCustomDesign</td>
  <td >samplePrice</td>
  <td >update</td>
{% endblock %}

{% block fieldContent %}
    {% for provider in providers %}
    <tr>
      <td >{{provider.url}}</td>
      <td >{{provider.product.internalId}}</td>
      <td >{{provider.product.url}}</td>
      <td >{{provider.productPrice}}</td>
      <td >{{provider.product.retailPrice}}</td>
      <td >{{provider.product.title}}</td>
      <td >{{provider.moq}}</td>
      <td >{{provider.serviceQualityScore}}</td>
      <td >{{provider.serviceQualityReview}}</td>
      <td >{{provider.canShipToChina}}</td>
      <td >{{provider.moqForCustomDesign}}</td>
      <td >{{provider.samplePrice}}</td>
      <td >Update</a> </td>
    </tr>
    {% endfor %}
{% endblock %}
