{% extends "common/list.html" %}
{% block title %}Orders{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/ecmanager/CreateOrder/'>create order</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
  <td>provider</td>
  <td>retailPriceprice($)</td>
  <td>productPrice($)</td>
  <td>orderPrice($)</td>
  <td>shippingCostInChina </td>
  <td>shippingCostToIndonesia </td>
  <td>trackingNumber </td>
  <td>orderingDate </td>
  <td>receivingDate </td>
  <td>orderMaker </td>
  <td>receiver </td>
  <td>orderQuantity </td>
  <td>status</td>
  <td>update</td>
  <td>delete</td>
{% endblock %}

{% block fieldContent %}
    {% for order in orders %}
    <tr>
      <td>{{order.provider}}</td>
      <td>{{order.provider.product.retailPrice}}</td>
      <td>{{order.provider.productPrice}}</td>
      <td>{{order.orderPrice}}</td>
      <td>{{order.shippingCostInChina }}</td>
      <td>{{order.shippingCostToIndonesia }}</td>
      <td>{{order.trackingNumber }}</td>
      <td>{{order.orderingDate }}</td>
      <td>{{order.receivingDate }}</td>
      <td>{{order.orderMaker }}</td>
      <td>{{order.receiver }}</td>
      <td>{{order.orderQuantity }}</td>
      <td>{{order.status}}</td>
      <td> <a href='/ecmanager/UpdateOrder/{{order.id}}/'>Update</a> </td>
      <td> <a href='/ecmanager/DeleteOrder/{{order.id}}/'>Delete</a> </td>
    </tr>
    {% endfor %}
{% endblock %}

