{% extends "common/list.html" %}
{% block title %}Orders{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/users/signup/'>create user</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
  <td>name</td>
  <td>email</td>
  <td>award</td>
{% endblock %}

{% block fieldContent %}
    {% for user in users %}
    <tr>
      <td>{{ user.username}}{% if user.is_staff %}(staff){% endif %}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.award}}</td>
    </tr>
    {% endfor %}
{% endblock %}
