{% extends "common/list.html" %}
{% block title %}Ads{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/ecmanager/CreateAd/'>create ad</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
	<td>url</td>
	<td width='30%'>product</td>
	<td width='10%'>creator</td>
	<td width='20%'>comment</td>
	<td>update</td>
{% endblock %}

{% block fieldContent %}
    {% for ad in ads %}
    <tr>
      <td><a href='{{ad.url}}'>{{ad.url}}</a></td>
      <td width='30%'>{{ad.product}}</td>
      <td width='10%'>{{ad.creator}}</td>
      <td width='20%'>{{ad.comment}}</td>
      <td> <a href='/ecmanager/UpdateAd/{{ad.id}}/'>Update</a> </td>
    </tr>
    {% endfor %}
{% endblock %}

