{% extends "common/base.html" %}
{% load i18n %}

{% block title %}Orders{% endblock title %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <a href="{% url 'ecmanager:create-order' %}" class="btn btn-primary">Create Order</a>
        </div>
        <div class="clearfix">&nbsp;</div>
    {% endif %}
    <div class="row x-overflow-auto">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>index</th>
                    <th>provider</th>
                    <th>product title</th>
                    <th>retailPriceprice($)</th>
                    <th>productPrice($)</th>
                    <th>productPriceForCurrentOrder($)</th>
                    <th>shippingCostInChina </th>
                    <th>shippingCostToIndonesia </th>
                    <th>trackingNumberInChina </th>
                    <th>trackingNumberToIndonesia </th>
                    <th>orderingDate </th>
                    <th>receivingDate </th>
                    <th>orderMaker </th>
                    <th>receiver </th>
                    <th>orderQuantity </th>
                    <th>status</th>
                    <th>comment</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td><a href='{{order.provider.url}}'>{{order.provider}}</a></td>
                        <td>{{order.provider.product.title}}</td>
                        <td>{{order.provider.product.retailPrice}}</td>
                        <td>{{order.provider.productPrice}}</td>
                        <td>{{order.productPriceForCurrentOrder}}</td>
                        <td>{{order.shippingCostInChina }}</td>
                        <td>{{order.shippingCostToIndonesia }}</td>
                        <td>{{order.trackingNumberInChina }}</td>
                        <td>{{order.trackingNumberToIndonesia }}</td>
                        <td>{{order.orderingDate }}</td>
                        <td>{{order.receivingDate }}</td>
                        <td>{{order.orderMaker }}</td>
                        <td>{{order.receiver }}</td>
                        <td>{{order.orderQuantity }}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.comment}}</td>
                        <td> <a href="{% url 'ecmanager:update-order' order.id %}">Update</a> </td>
                        <td> <a href="{% url 'ecmanager:delete-order' order.id %}">Delete</a> </td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

