{% extends "common/base.html" %}
{% load i18n %}

{% block title %}Providers{% endblock title %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <a href="{% url 'ecmanager:create-provider' %}" class="btn btn-primary">Create Provider</a>
        </div>
        <div class="clearfix">&nbsp;</div>
    {% endif %}
    <div class="row x-overflow-auto">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Provider url</th>
                    <th>Provider name</th>
                    <th>Product internalId</th>
                    <th>Product url</th>
                    <th>Price($)</th>
                    <th>retailPrice($)</th>
                    <th>Product title</th>
                    <th>moq</th>
                    <th>serviceQualityScore</th>
                    <th>serviceQualityReview</th>
                    <th>canShipToChina</th>
                    <th>moqForCustomDesign</th>
                    <th>samplePrice</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for provider in providers %}
                    <tr>
                        <td><a href='{{ provider.url }}'>{{ provider.url }}</a></td>
                        <td >{{provider.name}}</td>
                        <td >{{provider.product.internalId}}</td>
                        <td >{{provider.product.url}}</td>
                        <td >{{provider.productPrice}}</td>
                        <td >{{provider.product.retailPrice}}</td>
                        <td >{{provider.product.title}}</td>
                        <td >{{provider.moq}}</td>
                        <td >{{provider.serviceQualityScore}}</td>
                        <td >{{provider.serviceQualityReview}}</td>
                        <td >{{provider.canShipToChina}}</td>
                        <td >{{provider.moqForCustomDesign}}</td>
                        <td >{{provider.samplePrice}}</td>
                            <td> <a href="{% url 'ecmanager:update-provider' provider.id %}">Update</a> </td>
                            <td> <a href='{% url 'ecmanager:delete-provider' provider.id %}'>Delete</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
