{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Affilites" %}{% endblock title %}
{% block content %}
<h1>{% trans "My Affiliates" %}</h1>

<form action="." method="POST">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <td>{% trans "affiliate link (copy to your code)" %}</td>
        <td>{% trans "affiliate id" %}</td>
        <td>{% trans "user id" %}</td>
        <td>{% trans "user name" %}</td>
        <td>{% trans "product id" %}</td>
        <td>{% trans "product url" %}</td>
        <td>{% trans "detail" %}</td>
      </tr>
    </thead>
    {% for myaffiliate in myaffiliates %}
    <tr>
      <td>&lt;a href='{{ request.META.HTTP_HOST }}/myaffiliate/VisitProduct/aid={{myaffiliate.id}}'&gt;
        {{ request.META.HTTP_HOST }}/myaffiliate/VisitProduct/aid={{myaffiliate.id}}
        &lt;/a&gt;
      </td>
      <td>{{ myaffiliate.id }}</td>
      <td>{{ myaffiliate.user_id }}</td>
      <td>{{ myaffiliate.user_username }}</td>
      <td>{{ myaffiliate.product_id }}</td>
      <td>{{ myaffiliate.product.url }}</td>
      <td><a href='ListVisitorStatus/aid={{myaffiliate.id}}'>list visitor status</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock content %}
