{% load staticfiles i18n %}
{#{% load affiliate_tags %}#}

<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}affiliate{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      {% block css %}
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

      <!-- Optional theme -->
      <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />

      <!-- Your stuff: Third-party css libraries go here -->

      <!-- This file store project specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% endblock %}

      {% block angular %}
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
      {% endblock %}

  </head>

  <body>
    <div class="header navbar">
      <div class="container">
        <ul class="nav navbar-nav">
          {% if not request.tenant.schema_name == "public" %}
            {% block Navigator%}
                <a class="navbar-brand" href="{% url 'products:list' %}">Products</a>
                {% if request.user.is_staff %}
                  <a class="navbar-brand" href="{% url 'users:ListUsers' %}">{% trans "Users" %}</a>
                  <a class="navbar-brand" href="{% url 'ecmanager:providers-list' %}">Providers</a>
                  <a class="navbar-brand" href="{% url 'ecmanager:orders-list' %}">Orders</a>
                  <a class="navbar-brand" href="{% url 'ecmanager:ListAds' %}">Ads</a>
                {% endif %}
              
            {% endblock %}
            {% if request.user.is_authenticated %}
  						<li><a href="{% url 'users:logout_confirm' %}">{% trans "Logout" %}</a></li>
              <div class="navbar-brand">({{ request.user.username}}{%if request.user.is_staff%} (staff){%endif%})</div>
            {% else %}
  						<li><a href="{% url 'users:login' %}">{% trans "Sign In" %}</a></li>
  						<li><a href="{% url 'users:signup' %}">{% trans "Sign Up" %}</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">

      {% block messages %}
      {% for message in messages %}
      <div class="alert alert-dismissable fade in alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{message}}</p>
      </div>
      {% endfor %}
      {% endblock messages %}

      {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}
      <!-- Latest JQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      {% endblock javascript %}
      {% block extra_js %}
      {% endblock %}
  </body>
</html>

