{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% endblock title %}

{% block content %}
<form action="." method="POST">
  {% csrf_token %}
	{% block createNewItem %}{% endblock %}

  <table class="table">
		<tr width='100%'>
			{% block fieldTitles %}{% endblock %}
		</tr>
		<tr width='100%'>
			{% block fieldContent %}{% endblock %}
		</tr>
  </table>
</form>
{% endblock content %}
