{% extends "common/list.html" %}
{% block title %}Products{% endblock title %}
{% load affiliate_extras %}

{% block createNewItem %}
	{% if request.user.is_staff %}
    <td> <a href='/products/CreateProduct/'>Create Product</a> </td>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
  <td width='20%'>Url</td>

  <td width='50%'>Affiliate link (copy to your code)</td>
  <td width='20%'>Visitor status</td>
  {%if request.user.is_staff%}
    <td width='20%'>ID</td>
    <td width='20%'>internalId</td>
    <td width='5%'>retailPrice($)</td>
    <td width='5%'>Update</td>
    <td width='5%'>Delete</td>
  {%endif%}
{% endblock %}

{% block fieldContent %}
  {% for product in products %}
  <tr>
    <td><a href='{{ product.url}}'>{{ product.url }}</a></td>

    {# [tag with multiple arguments](http://stackoverflow.com/questions/420703/how-do-i-add-multiple-arguments-to-my-custom-template-filter-in-a-django-templat) #}
    <td>
      <textarea rows="10" cols="60">
      &lt;a href='{{ request.META.HTTP_HOST }}/products/VisitProduct/{{ request.user.id | GetAid:product.id }}/'&gt; {{ request.META.HTTP_HOST }}/products/VisitProduct/{{ request.user.id | GetAid:product.id }}/ &lt;/a&gt;
      </textarea>
    </td>
    <td>
      <a href='/products/ListVisitorStatus/{{product.id}}/'>List visitor status</a>
    </td>
    {%if request.user.is_staff%}
      <td>{{product.internalId}}</td>
      <td>{{product.id}}</td>
      <td>{{ product.retailPrice }} {{ default_currency }}</td>
      <td> <a href='/products/UpdateProduct/{{product.id}}/'>Update</a> </td>
      <td> <a href='/products/DeleteProduct/{{product.id}}/'>Delete</a> </td>
    {%endif%}
  </tr>
  {% endfor %}
{% endblock %}
