{% extends "common/base.html" %}

{% block content %}            
<form class="form-signup" action="/users/signup/" method="post">
    {% csrf_token %}
    <h2>Create your account</h2>
    <div class="fieldWrapper">
        {{ form.first_name.errors }} 
        <label>First name</label><br>
        {{ form.first_name }}
    </div>    
    <br>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}  
        <label>Last name</label><br>
        {{ form.last_name }}
    </div>    
    <br>
    <div class="fieldWrapper">    
        {{ form.email.errors }}            
        <label>E-mail</label><br>
        {{ form.email }}
    </div>    
    <br>
    <div class="fieldWrapper">
        {{ form.username.errors }}                
        <label>Username</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">        
        {{ form.password1.errors }}             
        <label>Password</label><br>                    
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">   
        {{ form.password2.errors }}          
        <label>Password again</label><br>
        {{ form.password2 }}
    </div>
    <br>
    <div class="fieldWrapper">   
        {{ form.captcha.errors }}          
        <label>Captcha</label><br>
        {{ form.captcha }}
    </div>
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Create account">
</form>

{% endblock %}
